#####################################################
# this file should be manually and carefully edited #

*.orig

# target folders
target/

# lib dependencies folders
lib_managed
src_managed

# sbt directories
project/project
project/boot
project/plugins/project
project-old/boot
project-old/plugins/project

# sbt local properties
#project/.*\.properties

# intelliJ 
.idea/
.*.iml

# OSX File Metadata
.*.DS_Store

# eclipse
.classpath
.project
.scala_dependencies

# temp file
.*~

